version: '3'

services:
  nats:
    image: nats:2.3.2-alpine
    ports:
      - '4222:4222'
      - '6222:6222'
      - '8222:8222'
    networks:
      - dev-network

networks:
  dev-network:
    name: dev-network
